.beer-result {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
}

.beer-name {
    text-align: center;
}