.beer-container {
    max-width: 400px;
    border: 1px black solid;
    border-radius: 10px;
    margin-bottom: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.beer-description {
    text-align: left;
    padding-left: 10px;
}

.info-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;;
}