.beer-container {
    max-width: 400px;
    border: 1px black solid;
    border-radius: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: wheat;
}

.beer-name, .beer-name, .beer-rating, .beer-description, .info-flex {
    background-color: wheat;
}

.beer-description {
    text-align: left;
    padding-left: 10px;
}

.info-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;;
}

#remove-button {
    height: 50px;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 30px;
}

#remove-button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}