* {
    box-sizing: border-box;
    background-color: rgb(255, 203, 59);
    font-family: sans-serif;
}

#beer-search, #beer-button {
    margin-left: 15px;
}

.hero-header {
    width: 360px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}